@model MusicaBartolomeNavarroCesar.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArtistId"><input type="button" class="btn btn-warning" value="Editar"/></a>
    <a asp-action="Index"><input type="button" class="btn btn-primary" value="Volver a la lista"/></a>
</div>
