html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.card{
    float: left;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}